<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Workouts</title>
  <meta name="description" content="The HTML5 Barebones">
  <meta name="author" content="slwilson">
  <!--<script src="/js/workout.js"></script>
  <link rel="stylesheet" href="css/styles.css?v=1.0">-->

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
    <h1>This is the Index Page.</h1>
    {%block content%}
    {%endblock%}
</body>
</html>
