{% extends 'index.html' %}
{% block content %}
<div>   
    <table>
        <thead>
            <tr>
                <td>Date</td>
                <td>Name</td>
                <td>Calories</td>
                <td>Heartrate</td>
                <td>Zones</td>
                <td>Duration</td>
                <td>Distance</td>
            </tr>
        </thead>
        <tbody>
            <form method='POST' action=''>
            {{formset.management_form}}
            {%for form in formset%}
            <tr>
                <td>{{form.id.value}}</td>
                <td>{{form.date.value}}</td>
                <td>{{form.name.value}}</td>
                <td>{{form.calories.value}}</td>
                <td>{{form.heartrate.value}}</td>
                <td>{{form.peak.value}}|{{form.cardio.value}}|{{form.fatburn.value}}</td>
                <td>{{form.hours.value}}:{{form.minutes.value}}:{{form.seconds.value}}</td>
                <td>{{form.distance.value}}</td>
            </tr>
            <tr>
                    <td>{{form.id}}</td>
                    <td>{{form.date}}</td>
                    <td>{{form.name}}</td>
                    <td>{{form.calories}}</td>
                    <td>{{form.heartrate}}</td>
                    <td>{{form.peak}}|{{form.cardio}}|{{form.fatburn}}</td>
                    <td>{{form.hours}}:{{form.minutes}}:{{form.seconds}}</td>
                    <td>{{form.distance}}</td>
                    <td><input type='submit' value='edit'></td>
            </tr>
            {%endfor%}
            </form>
        </tbody>
    </table>
</div>



{%endblock%}
