{% extends 'index.html' %}
{% block content %}
<div id='container'>
    <div id='content'>
        <div id='data'>
            {% include 'data.html'%}
        </div>
        <section>
            <header>
                <div id ='date-container'>
                    <div id='date-buttons'>
                        <button type='button' 
                            class='date-button date-button-active' start-date=''>week</button>
                        <button type='button' class='date-button' start-date=''>month</button>
                        <button type='button' class='date-button' start-date=''>year</button>
                    </div>
                    <div id='date-range'> 
                        <div class='date-range-group'><<</div>                    
                        <div class='date-range-group'> 
                            <p id='date-range-start'></p>
                            <p>&nbsp - &nbsp</p>
                            <p id='date-range-end'></p>
                        </div>
                        <div class='date-range-group'>>></div>
                    </div>
                    <div id='date-form-container'>
                        <form id='date-form' action='.'>
                            <input type='text' name='start-date'>
                            <input type='text' name='end-date'>
                            <input type='submit' value='Go'>
                        </form>
                    </div>
                </div>
            </header>
            <article>
                <header>
                    <div id='field-buttons'>
                        <button type='button' class='field-button field-button-active' field='calories'>
                            calories</button>
                        <button type='button' class='field-button' field='heartrate'>
                            heartrate</button>
                        <button type='button' class='field-button' field='duration'>
                            duration</button>
                    </div>
                </header>
                <div id='chart'></div>
            </article>
            <footer>
                <div id='totals'>
                </div>
            </footer>
        </section>
        <section>
            <header>
                <h2>Workout History</h2>
            </header>
            <article> 
                <div id='history-list'>
                    <ul></ul>
                </div>
            </article>
            <footer>
            </footer>
        </section>
    </div>
</div>

{% endblock %}
