{% extends 'index.html' %}

{% block content %}
    <div id='container'>
        {% for m in months %}
        <div href='/{{year}}/{{m.month}}' class='date-circle' workouts='{{m.workouts}}'>
            <div class='date-circle-date'>{{m.month}}</div>
            <div class='date-circle-workouts'>
                <div class='date-circle-workouts-text'>{{m.workouts}}<br>workouts</div>
                <div class='date-circle-workouts-bg'></div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
