/*///////////*/
/* CSS RESET */
/*///////////*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul, a {
    list-style: none;
    color: black;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}

/*///////////////*/
/* END CSS RESET */
/*///////////////*/

body{
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    color: #202020;
    background: #f6f6f6;
    height:100vh;
    width:100vw;
    
}

#header {
    border-bottom: 10px solid #206276;
    font-size: 2em;
    font-weight: 500;
}

#header-inner, #content {
    width:60%;
    padding: 1%;
    margin:auto;
}

#content {
    border: 1px solid #b8b8b8;
}

#content section header,
#content section footer,
.chart-date-range-group {
    background: #F3F3F3;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    padding: 1%;
    
}

#content section footer {
    font-size: 1.5em;
}

#content article header{
    background: #F6F6F6;
    border: none;
}

#chart-date-container,
#list-date-container{
    width:100%;
    display:table;
}

#chart-date-range, 
#list-date-buttons{
    width: 50%;
    display:table-cell;
    text-align:right;
    vertical-align: middle;
}

#chart-date-buttons, 
#list-date-container h2{
    width: 50%;
    display:table-cell;
    vertical-align: middle;
}

.chart-date-button,
.chart-stat-button {
    border: none;
    background: #BFBFBF;
    color: white;
    font-size: 2em;
    padding: 0.5% 3%;
}

.chart-date-button-active,
.chart-stat-button-active{
    background:pink;
}

#chart-type-buttons button{
    font-size: 1.5em;
    padding: 0.2% 1%;
}
 
#chart-date-range div, .chart-date-range-group p{
    display: inline-block;
}

#workout-chart {
    padding-bottom:1%;
    border-bottom: 1px solid #D6D6D6;
}

#totals{
    text-align:center;
}

#totals-list{
    width:100%;
    display:table
}

#totals-list h2,
#totals-stats{
    display: table-cell;
}

#totals-stats ul{
    width:100%;
    display:table;
}

#totals-stats ul li {
    display:table-cell;
}

#list-date-container h2{
    font-size: 2em;
}
